*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.container-fluid{
    background-color: darkblue;
    height: 4000px;
}
.container{
   background-color: darkblue;
   height: 4000px;
}
.container h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: black;
}
label{
    color: black;
}
.sub-container{
    width: 300px;
    height: 400px;
    margin-left: 320px;
    background-color: aliceblue;
   
    border-radius: 50px;
    margin-bottom: 30px;
}
.sub-container input{
    width: 250px;
    height: 30px;
  margin-left: 20px;
    border-radius: 10px;
 border: none;
    text-align: center;
  background-color: rgb(9, 9, 79);
    
    color: white;
}
.sub-container button{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: black;
    color: white;
    border: none;
}